template(name='depForm')
    h1 {{ i18n 'deps.createDep' }}
    form#dep_form(role='form')
        .row
            .col-md-6.col-xs-12
                +each langs
                    .form-group
                        label(for='title') #{this} {{i18n 'general.title'}}
                        input.form-control(
                            type='text'
                            name="title[#{this}]"
                            placeholder="{{i18n 'general.title'}}"
                            id="title[#{this}]"
                        )
            .col-md-6.col-xs-12
                .form-group
                    label(for='main_dep') {{i18n 'deps.mainDep'}}
                    +inputAutocomplete(
                        settings=settings
                        id="main_dep"
                        class="form-control"
                        placeholder=mainDepPlaceholder
                    )
                    input(type="hidden" id="main_dep" name="main_dep")
            .col-md-9.col-xs-12
                .form-group
                    label(for='synonyms') {{i18n 'deps.synonyms'}}
                    textarea.form-control(
                        id="synonyms"
                        name="synonyms"
                    )
                    p.help-block {{i18n 'deps.synonymsDesc'}}
            .col-md-3.col-xs-12
                label {{i18n 'deps.status'}}
                .checkbox
                    label: input(type='checkbox' name='status[hidden]' id='status[hidden]')
                    | {{i18n 'deps.statusHidden'}}
                .checkbox
                    label: input(type='checkbox' name='status[new]' id='status[new]')
                    | {{i18n 'deps.statusNew'}}
            .col-md-6.pull-right.text-right
                button#submit_btn.btn.btn-primary(type="submit" href="#") {{i18n 'general.create'}}

template(name='autocompleteDep')
    li(id=_id) {{getTitle title}}